<!DOCTYPE html>
<html>
    <head>
        <title>E-commerce sample</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=1024">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
        <script>
            window.Mercadopago.setPublishableKey('TEST-4e13e9f0-d095-4bce-abd4-101076fdc167');
            window.Mercadopago.getIdentificationTypes();

            function guessPaymentMethod(event) {
                let cardnumber = document.getElementById("cardNumber").value;
                if (cardnumber.length >= 6) {
                    let bin = cardnumber.substring(0,6);
                    window.Mercadopago.getPaymentMethod({
                        "bin": bin
                    }, setPaymentMethod);
                }
            };

            function setPaymentMethod(status, response) {
                if (status == 200) {
                    let paymentMethod = response[0];
                    document.getElementById('paymentMethodId').value = paymentMethod.id;

                    if(paymentMethod.additional_info_needed.includes("issuer_id")){
                        getIssuers(paymentMethod.id);
                    } else {
                        getInstallments(
                            paymentMethod.id,
                            document.getElementById('amount').value
                        );
                    }
                } else {
                    alert(`payment method info error: ${response}`);
                }
            }

            function getIssuers(paymentMethodId) {
                window.Mercadopago.getIssuers(
                    paymentMethodId,
                    setIssuers
                );
            }

            function setIssuers(status, response) {
                if (status == 200) {
                    let issuerSelect = document.getElementById('issuer');
                    response.forEach( issuer => {
                        let opt = document.createElement('option');
                        opt.text = issuer.name;
                        opt.value = issuer.id;
                        issuerSelect.appendChild(opt);
                    });

                    getInstallments(
                        document.getElementById('paymentMethodId').value,
                        document.getElementById('amount').value,
                        issuerSelect.value
                    );
                } else {
                    alert(`issuers method info error: ${response}`);
                }
            }

            function getInstallments(paymentMethodId, amount, issuerId){
                window.Mercadopago.getInstallments({
                    "payment_method_id": paymentMethodId,
                    "amount": parseFloat(amount),
                    "issuer_id": issuerId ? parseInt(issuerId) : undefined
                }, setInstallments);
            }

            function setInstallments(status, response){
                if (status == 200) {
                    document.getElementById('installments').options.length = 0;
                    response[0].payer_costs.forEach( payerCost => {
                        let opt = document.createElement('option');
                        opt.text = payerCost.recommended_message;
                        opt.value = payerCost.installments;
                        document.getElementById('installments').appendChild(opt);
                    });
                } else {
                    alert(`installments method info error: ${response}`);
                }
            }
        </script>
        <link rel="stylesheet" href="/assets/custom.css" type="text/css">
    </head>

    <body>
        <div id="page-container">
            <div class="header-container">
                <img src="/assets/images/banner.jpg"/>
            </div>
            <div id="content-wrap">
                <br>  
                <div class="col-lg-8 main-section p-3 bg-white">
                    {{{body}}}
                </div>
                <br><br>
            </div>
            <footer id="footer" class="bg-secondary">  
                <div class="card-body text-left">
                    <img src="/assets/images/logo.png" style="width: 100px"/>
                    <h6 style="color: white; display:inline"> | Workshop Resource</h6>
                </div>
            </footer>
        </div>
    </body>
<script>
    document.getElementById('cardNumber').addEventListener('change', guessPaymentMethod);
    doSubmit = false;
            document.getElementById('paymentForm').addEventListener('submit', getCardToken);
            function getCardToken(event){
                event.preventDefault();
                if(!doSubmit){
                    let $form = document.getElementById('paymentForm');
                    window.Mercadopago.createToken($form, setCardTokenAndPay);
                    return false;
                }
            };

            function setCardTokenAndPay(status, response) {
                if (status == 200 || status == 201) {
                    let form = document.getElementById('paymentForm');
                    let card = document.createElement('input');
                    card.setAttribute('name', 'token');
                    card.setAttribute('type', 'hidden');
                    card.setAttribute('value', response.id);
                    form.appendChild(card);
                    doSubmit=true;
                    form.submit();
                } else {
                    alert("Verify filled data!\n"+JSON.stringify(response, null, 4));
                }
            };
</script>
</html>