<div class="row m-0">
    <div class="col-lg-6 left-side-product-box pb-3">
        <img id="product_img" src="{{img}}" class="border p-3">
    </div>
    <div class="col-lg-6">
        <div class="right-side-pro-detail border p-3 m-0">
            <div class="row">
                <div class="col-lg-12">
                    <p id="product_title" class="m-0 p-0">{{title}}</p>
                </div>
                <div class="col-lg-12">
                    <p id="product_price" class="m-0 p-0 price-pro">$ {{price}}</p>
                    <hr class="p-0 m-0">
                </div>
                <div class="col-lg-3">
                    <br><h6>Quantity :</h6>
                    <input id="product_quantity" type="number" class="form-control text-center w-100" value="1">
                    <br>
                </div>
                <div class="col-lg-12">
                    <hr class="p-0 m-0">
                    <br>
                    {{!-- Formulário --}}
                    <form action="/processar_pagamento" method="post" id="pay" name="pay" >
    <fieldset>
        <p>
            <label for="description">Descrição</label>                        
            <input type="text" name="description" id="description" value="Ítem selecionado"/>
        </p>                    
        <p>
            <label for="transaction_amount">Valor a pagar</label>                        
            <input name="transaction_amount" id="transaction_amount" value="100"/>
        </p>        
        <p>
            <label for="cardNumber">Número do cartão</label>
            <input type="text" id="cardNumber" data-checkout="cardNumber" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
        </p>
        <p>
            <label for="cardholderName">Nome e sobrenome</label>
            <input type="text" id="cardholderName" data-checkout="cardholderName" />
        </p>
        <p>
            <label for="cardExpirationMonth">Mês de vencimento</label>
            <input type="text" id="cardExpirationMonth" data-checkout="cardExpirationMonth" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
        </p>
        <p>
            <label for="cardExpirationYear">Ano de vencimento</label>
            <input type="text" id="cardExpirationYear" data-checkout="cardExpirationYear" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
        </p>
        <p>
            <label for="securityCode">Código de segurança</label>
            <input type="text" id="securityCode" data-checkout="securityCode" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
        </p>
        <p>
            <label for="installments">Parcelas</label>
            <select id="installments" class="form-control" name="installments"></select>
        </p>
        <p>
            <label for="docType">Tipo de documento</label>
            <select id="docType" data-checkout="docType"></select>
        </p>
        <p>
            <label for="docNumber">Número do documento</label>
            <input type="text" id="docNumber" data-checkout="docNumber"/>
        </p>
        <p>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" value="test@test.com"/>
        </p>
        <input type="hidden" name="payment_method_id" id="payment_method_id"/>
        <input type="submit" value="Pagar"/>
    </fieldset>
</form>
                    {{!-- Fim do formulário --}}
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Lib Mercado Pago JS --}}
<script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>

<script> 

    // passo 3
        window.Mercadopago.setPublishableKey("TEST-45d09205-f8cd-4e59-897d-9a2767bab954");

    //passo 4
        window.Mercadopago.getIdentificationTypes();
    
    //obter metodo de pagamento do cartão

    document.getElementById('cardNumber').addEventListener('keyup', guessPaymentMethod);
    document.getElementById('cardNumber').addEventListener('change', guessPaymentMethod);

function guessPaymentMethod(event) {
    let cardnumber = document.getElementById("cardNumber").value;

    if (cardnumber.length >= 6) {
        let bin = cardnumber.substring(0,6);
        window.Mercadopago.getPaymentMethod({
            "bin": bin
        }, setPaymentMethod);
    }
};

function setPaymentMethod(status, response) {
    if (status == 200) {
        let paymentMethodId = response[0].id;
        let element = document.getElementById('payment_method_id');
        element.value = paymentMethodId;
        getInstallments();
    } else {
        alert(`payment method info error: ${response}`);
    }
}

// Obter quantidade de parcelas

function getInstallments(){
    window.Mercadopago.getInstallments({
        "payment_method_id": document.getElementById('payment_method_id').value,
        "amount": parseFloat(document.getElementById('transaction_amount').value)

    }, function (status, response) {
        if (status == 200) {
            document.getElementById('installments').options.length = 0;
            response[0].payer_costs.forEach( installment => {
                let opt = document.createElement('option');
                opt.text = installment.recommended_message;
                opt.value = installment.installments;
                document.getElementById('installments').appendChild(opt);
            });
        } else {
            alert(`installments method info error: ${response}`);
        }
    });
}

//criar token do cartão

doSubmit = false;
document.querySelector('#pay').addEventListener('submit', doPay);

function doPay(event){
    event.preventDefault();
    if(!doSubmit){
        var $form = document.querySelector('#pay');

        window.Mercadopago.createToken($form, sdkResponseHandler);

        return false;
    }
};

function sdkResponseHandler(status, response) {
    if (status != 200 && status != 201) {
        alert("verify filled data");
    }else{
        var form = document.querySelector('#pay');
        var card = document.createElement('input');
        card.setAttribute('name', 'token');
        card.setAttribute('type', 'hidden');
        card.setAttribute('value', response.id);
        form.appendChild(card);
        doSubmit=true;
        form.submit();
    }
};


</script>